# Node.js dependencies
ennote-frontend-react/node_modules
ennote-frontend-react/.pnp
ennote-frontend-react/.pnp.js

# Testing
ennote-frontend-react/coverage

# Production
ennote-frontend-react/build

# Miscellaneous
ennote-frontend-react/.DS_Store
ennote-frontend-react/.env
ennote-frontend-react/.env.local
ennote-frontend-react/.env.development.local
ennote-frontend-react/.env.test.local
ennote-frontend-react/.env.production.local

ennote-frontend-react/npm-debug.log*
ennote-frontend-react/yarn-debug.log*
ennote-frontend-react/yarn-error.log*

# IDEs and Editors
ennote-frontend-react/.idea
ennote-frontend-react/.vscode
ennote-frontend-react/*.suo
ennote-frontend-react/*.ntvs*
ennote-frontend-react/*.njsproj
ennote-frontend-react/*.sln
ennote-frontend-react/*.sw?

# Service worker
ennote-frontend-react/service-worker.js

# Temporary files
ennote-frontend-react/.tmp/

# Maven
ennote-backend/HELP.md
ennote-backend/target/
!ennote-backend/.mvn/wrapper/maven-wrapper.jar
!ennote-backend/**/src/main/**/target/
!ennote-backend/**/src/test/**/target/

# Spring Tool Suite (STS)
ennote-backend/.apt_generated
ennote-backend/.classpath
ennote-backend/.factorypath
ennote-backend/.project
ennote-backend/.settings
ennote-backend/.springBeans
ennote-backend/.sts4-cache

# IntelliJ IDEA
ennote-backend/.idea
ennote-backend/*.iws
ennote-backend/*.iml
ennote-backend/*.ipr

.idea

# Specific files
ennote-backend/EnNote.txt
ennote-backend/SpringSecurity.pdf
ennote-backend/src/main/java/com/akash/ennote/security/CustomLoggingFilter.java
ennote-backend/src/main/java/com/akash/ennote/security/RequestValidationFilter.java

# NetBeans
ennote-backend/nbproject/private/
ennote-backend/nbbuild/
ennote-backend/dist/
ennote-backend/nbdist/
ennote-backend/.nb-gradle/

# Build directories
ennote-backend/build/
!ennote-backend/**/src/main/**/build/
!ennote-backend/**/src/test/**/build/

# Visual Studio Code
ennote-backend/.vscode/
ennote-frontend-react/.vscode/


